In [2]:
import os
import pandas as pd
os.chdir(r'C:\Users\joyh1\Desktop\DSC\Inflearn강의자료\데이터분석\잔재미코딩자료\COVID-19-master\csse_covid_19_data\csse_covid_19_daily_reports')

In [3]:
df1 = pd.read_csv('04-01-2020.csv', encoding='utf-8')
df1.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [4]:
df2 = pd.read_csv('03-01-2020.csv', encoding='utf-8')
df2.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140

- 3월 중순 데이터까지는 컬럼명이 Province/State, Country/Region 이고, 이후에는 Province_State, Country_Region 이므로, try except 구문을 사용해서, 칼럼명 통일해주기

In [5]:
doc = pd.read_csv('03-01-2020.csv', encoding='utf-8')
try:
    doc = doc[['Province_State', 'Country_Region', 'Confirmed']]
except:
    doc = doc[['Province/State', 'Country/Region', 'Confirmed']]
    doc.columns = ['Province_State', 'Country_Region', 'Confirmed']
doc.head()

  Province_State  Country_Region  Confirmed
0          Hubei  Mainland China      66907
1            NaN     South Korea       3736
2            NaN           Italy       1694
3      Guangdong  Mainland China       1349
4          Henan  Mainland China       1272

In [6]:
# Confirmed에 NaN값이 존재해서 결측치가 존재하는 데이터 행(row)제거하고 추출
doc.isnull().sum()

Province_State    60
Country_Region     0
Confirmed          0
dtype: int64

In [7]:
doc = pd.read_csv('01-22-2020.csv', encoding='utf-8')
try:
    doc = doc[['Province_State', 'Country_Region', 'Confirmed']]
except:
    doc = doc[['Province/State', 'Country/Region', 'Confirmed']]
    doc.columns = ['Province_State', 'Country_Region', 'Confirmed']
doc = doc.dropna(subset=['Confirmed'])
doc = doc.astype({'Confirmed' :'int64'})
doc.isnull().sum()

Province_State    3
Country_Region    0
Confirmed         0
dtype: int64

In [8]:
# 국가 코드 mapping시키기 위해 국가코드 파일 로드
path = 'C:/Users/joyh1/Desktop/DSC/Inflearn강의자료/데이터분석/잔재미코딩자료/COVID-19-master/csse_covid_19_data/'
country_info = pd.read_csv(path+'UID_ISO_FIPS_LookUp_Table.csv', encoding='utf-8')
del country_info['Unnamed: 0']
del country_info['Unnamed: 0.1']
country_info.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key
0,NaN,BW,NaN,NaN,NaN,NaN,NaN,Botswana,NaN,NaN,Botswana
1,NaN,BI,NaN,NaN,NaN,NaN,NaN,Burundi,NaN,NaN,Burundi
2,NaN,SL,NaN,NaN,NaN,NaN,NaN,Sierra Leone,NaN,NaN,Sierra Leone
3,4.0,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.93911,67.709953,Afghanistan
4,8.0,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.15330,20.168300,Albania

In [9]:
# 예시파일 하나랑 국가코드 mapping 잘되는지 확인
# 결측치 값 존재
test_df = pd.merge(doc, country_info, how='left', on='Country_Region')
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3333 entries, 0 to 3332
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Province_State_x  3330 non-null   object
 1   Country_Region    3333 non-null   object
 2   Confirmed         3333 non-null   int64
 3   UID               3308 non-null   float64
 4   iso2              3308 non-null   object
 5   iso3              3308 non-null   object
 6   code3             3308 non-null   float64
 7   FIPS              3302 non-null   float64
 8   Admin2            3246 non-null   object
 9   Province_State_y  3305 non-null   object
 10  Lat               3203 non-null   float64
 11  Long_             3203 non-null   float64
 12  Combined_Key      3308 non-null   object
dtypes: float64(5), int64(1), object(7)
memory usage: 364.5+ KB

In [10]:
# 결측치 값 무엇인지 찾아보기 -> China를 Mainland China로 되어있음
test_df[test_df['iso2'].isnull()].head()

,Province_State_x,Country_Region,Confirmed,UID,iso2,iso3,code3,FIPS,Admin2,Province_State_y,Lat,Long_,Combined_Key
0,Anhui,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Beijing,Mainland China,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Chongqing,Mainland China,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fujian,Mainland China,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Guangdong,Mainland China,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# 국가 full name과 국가 코드(이니셜) mapping한 json 파일 업로드
import json
with open(path+'country_convert.json', 'r') as json_file:
    json_data = json.load(json_file)
    print(json_data.keys())

dict_keys(['Mainland China', 'Macau', 'South Korea', 'Aruba', ' Azerbaijan', 'Bahamas, The', 'Cape Verde', 'Cayman Islands', 'Channel Islands', 'Curacao', 'Czech Republic', 'East Timor', 'Faroe Islands', 'French Guiana', 'Gambia, The', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Guernsey', 'Hong Kong', 'Hong Kong SAR', 'Iran (Islamic Republic of)', 'Ivory Coast', 'Jersey', 'Macao SAR', 'Martinique', 'Mayotte', 'North Ireland', 'Palestine', 'Puerto Rico', 'Republic of Ireland', 'Republic of Korea', 'Republic of Moldova', 'Republic of the Congo', 'Reunion', 'Russian Federation', 'Saint Barthelemy', 'Saint Martin', 'St. Martin', 'Taipei and environs', 'The Bahamas', 'The Gambia', 'UK', 'Vatican City', 'Viet Nam', 'occupied Palestinian territory', 'Taiwan*', 'Malawi', 'South Sudan', 'Western Sahara', 'Namibia'])

In [12]:
# json_data 만 치면 기본적으로 key값을 의미
# json_data의 key에 해당하는 value에 맞게 원본 데이터값 수정하는 함수 정의
def mapping_country(row):
    if row['Country_Region'] in json_data:
        row['Country_Region'] = json_data[row['Country_Region']]
    return row

In [13]:
revised_doc = doc.apply(mapping_country, axis=1)
revised_doc.head()

  Province_State Country_Region  Confirmed
0          Anhui          China          1
1        Beijing          China         14
2      Chongqing          China          6
3         Fujian          China          1
5      Guangdong          China         26

In [14]:
data = '01-01-2020.csv'
date_column = data.split('.')[0].lstrip('0').replace('-','/')
date_column

'1/01/2020'

In [15]:
revised_doc.columns = ['Province_State', 'Country_Region', date_column]
revised_doc.head()

  Province_State Country_Region  1/01/2020
0          Anhui          China          1
1        Beijing          China         14
2      Chongqing          China          6
3         Fujian          China          1
5      Guangdong          China         26

In [16]:
revised_doc.groupby('Country_Region').sum()

                1/01/2020
Country_Region
China                 548
Japan                   2
Korea, South            1
Taiwan                  1
Thailand                2
US                      1

## 전처리 과정에서 사용되는 함수 정의

In [18]:
dir_path = 'C:/Users/joyh1/Desktop/DSC/Inflearn강의자료/데이터분석/잔재미코딩자료/COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/'

In [19]:
filename1 = '01-22-2020.csv'
filename2 = '05-23-2020.csv'
doc1 = create_df(filename1)
doc2 = create_df(filename2)

In [20]:
merge_df = pd.merge(doc1 ,doc2, how='outer', right_index=True, left_index=True)
merge_df = merge_df.fillna(0)
merge_df.head()

                1/22/2020  5/23/2020
Country_Region
Afghanistan           0.0       9998
Albania               0.0        989
Algeria               0.0       8113
Andorra               0.0        762
Angola                0.0         61

In [21]:
# csv파일 있는 디렉토리에서 csv파일들만 빈 리스트에다가 담기
import os 
file_list, csv_list = os.listdir(dir_path), list()

for file in file_list:
    if file.split('.')[-1] == 'csv':
        csv_list.append(file)
print(csv_list)

['01-22-2020.csv', '01-23-2020.csv', '01-24-2020.csv', '01-25-2020.csv', '01-26-2020.csv', '01-27-2020.csv', '01-28-2020.csv', '01-29-2020.csv', '01-30-2020.csv', '01-31-2020.csv', '02-01-2020.csv', '02-02-2020.csv', '02-03-2020.csv', '02-04-2020.csv', '02-05-2020.csv', '02-06-2020.csv', '02-07-2020.csv', '02-08-2020.csv', '02-09-2020.csv', '02-10-2020.csv', '02-11-2020.csv', '02-12-2020.csv', '02-13-2020.csv', '02-14-2020.csv', '02-15-2020.csv', '02-16-2020.csv', '02-17-2020.csv', '02-18-2020.csv', '02-19-2020.csv', '02-20-2020.csv', '02-21-2020.csv', '02-22-2020.csv', '02-23-2020.csv', '02-24-2020.csv', '02-25-2020.csv', '02-26-2020.csv', '02-27-2020.csv', '02-28-2020.csv', '02-29-2020.csv', '03-01-2020.csv', '03-02-2020.csv', '03-03-2020.csv', '03-04-2020.csv', '03-05-2020.csv', '03-06-2020.csv', '03-07-2020.csv', '03-08-2020.csv', '03-09-2020.csv', '03-10-2020.csv', '03-11-2020.csv', '03-12-2020.csv', '03-13-2020.csv', '03-14-2020.csv', '03-15-2020.csv', '03-16-2020.csv', '03-17-2020.csv', '03-18-2020.csv', '03-19-2020.csv', '03-20-2020.csv', '03-21-2020.csv', '03-22-2020.csv', '03-23-2020.csv', '03-24-2020.csv', '03-25-2020.csv', '03-26-2020.csv', '03-27-2020.csv', '03-28-2020.csv', '03-29-2020.csv', '03-30-2020.csv', '03-31-2020.csv', '04-01-2020.csv', '04-02-2020.csv', '04-03-2020.csv', '04-04-2020.csv', '04-05-2020.csv', '04-06-2020.csv', '04-07-2020.csv', '04-08-2020.csv', '04-09-2020.csv', '04-10-2020.csv', '04-11-2020.csv', '04-12-2020.csv', '04-13-2020.csv', '04-14-2020.csv', '04-15-2020.csv', '04-16-2020.csv', '04-17-2020.csv', '04-18-2020.csv', '04-19-2020.csv', '04-20-2020.csv', '04-21-2020.csv', '04-22-2020.csv', '04-23-2020.csv', '04-24-2020.csv', '04-25-2020.csv', '04-26-2020.csv', '04-27-2020.csv', '04-28-2020.csv', '04-29-2020.csv', '04-30-2020.csv', '05-01-2020.csv', '05-02-2020.csv', '05-03-2020.csv', '05-04-2020.csv', '05-05-2020.csv', '05-06-2020.csv', '05-07-2020.csv', '05-08-2020.csv', '05-09-2020.csv', '05-10-2020.csv', '05-11-2020.csv', '05-12-2020.csv', '05-13-2020.csv', '05-14-2020.csv', '05-15-2020.csv', '05-16-2020.csv', '05-17-2020.csv', '05-18-2020.csv', '05-19-2020.csv', '05-20-2020.csv', '05-21-2020.csv', '05-22-2020.csv', '05-23-2020.csv', '05-24-2020.csv', '05-25-2020.csv', '05-26-2020.csv', '05-27-2020.csv', '05-28-2020.csv', '05-29-2020.csv', '05-30-2020.csv', '05-31-2020.csv', '06-01-2020.csv', '06-02-2020.csv', '06-03-2020.csv', '06-04-2020.csv', '06-05-2020.csv', '06-06-2020.csv', '06-07-2020.csv', '06-08-2020.csv', '06-09-2020.csv', '06-10-2020.csv', '06-11-2020.csv', '06-12-2020.csv', '06-13-2020.csv', '06-14-2020.csv', '06-15-2020.csv', '06-16-2020.csv', '06-17-2020.csv']

In [22]:
# csv파일 담은 리스트 오름차순(날짜순으로) 정렬
csv_list.sort()
csv_list

['01-22-2020.csv',
 '01-23-2020.csv',
 '01-24-2020.csv',
 '01-25-2020.csv',
 '01-26-2020.csv',
 '01-27-2020.csv',
 '01-28-2020.csv',
 '01-29-2020.csv',
 '01-30-2020.csv',
 '01-31-2020.csv',
 '02-01-2020.csv',
 '02-02-2020.csv',
 '02-03-2020.csv',
 '02-04-2020.csv',
 '02-05-2020.csv',
 '02-06-2020.csv',
 '02-07-2020.csv',
 '02-08-2020.csv',
 '02-09-2020.csv',
 '02-10-2020.csv',
 '02-11-2020.csv',
 '02-12-2020.csv',
 '02-13-2020.csv',
 '02-14-2020.csv',
 '02-15-2020.csv',
 '02-16-2020.csv',
 '02-17-2020.csv',
 '02-18-2020.csv',
 '02-19-2020.csv',
 '02-20-2020.csv',
 '02-21-2020.csv',
 '02-22-2020.csv',
 '02-23-2020.csv',
 '02-24-2020.csv',
 '02-25-2020.csv',
 '02-26-2020.csv',
 '02-27-2020.csv',
 '02-28-2020.csv',
 '02-29-2020.csv',
 '03-01-2020.csv',
 '03-02-2020.csv',
 '03-03-2020.csv',
 '03-04-2020.csv',
 '03-05-2020.csv',
 '03-06-2020.csv',
 '03-07-2020.csv',
 '03-08-2020.csv',
 '03-09-2020.csv',
 '03-10-2020.csv',
 '03-11-2020.csv',
 '03-12-2020.csv',
 '03-13-2020.csv',
 '03-14-2020.csv',
 '03-15-2020.csv',
 '03-16-2020.csv',
 '03-17-2020.csv',
 '03-18-2020.csv',
 '03-19-2020.csv',
 '03-20-2020.csv',
 '03-21-2020.csv',
 '03-22-2020.csv',
 '03-23-2020.csv',
 '03-24-2020.csv',
 '03-25-2020.csv',
 '03-26-2020.csv',
 '03-27-2020.csv',
 '03-28-2020.csv',
 '03-29-2020.csv',
 '03-30-2020.csv',
 '03-31-2020.csv',
 '04-01-2020.csv',
 '04-02-2020.csv',
 '04-03-2020.csv',
 '04-04-2020.csv',
 '04-05-2020.csv',
 '04-06-2020.csv',
 '04-07-2020.csv',
 '04-08-2020.csv',
 '04-09-2020.csv',
 '04-10-2020.csv',
 '04-11-2020.csv',
 '04-12-2020.csv',
 '04-13-2020.csv',
 '04-14-2020.csv',
 '04-15-2020.csv',
 '04-16-2020.csv',
 '04-17-2020.csv',
 '04-18-2020.csv',
 '04-19-2020.csv',
 '04-20-2020.csv',
 '04-21-2020.csv',
 '04-22-2020.csv',
 '04-23-2020.csv',
 '04-24-2020.csv',
 '04-25-2020.csv',
 '04-26-2020.csv',
 '04-27-2020.csv',
 '04-28-2020.csv',
 '04-29-2020.csv',
 '04-30-2020.csv',
 '05-01-2020.csv',
 '05-02-2020.csv',
 '05-03-2020.csv',
 '05-04-2020.csv',
 '05-05-2020.csv',
 '05-06-2020.csv',
 '05-07-2020.csv',
 '05-08-2020.csv',
 '05-09-2020.csv',
 '05-10-2020.csv',
 '05-11-2020.csv',
 '05-12-2020.csv',
 '05-13-2020.csv',
 '05-14-2020.csv',
 '05-15-2020.csv',
 '05-16-2020.csv',
 '05-17-2020.csv',
 '05-18-2020.csv',
 '05-19-2020.csv',
 '05-20-2020.csv',
 '05-21-2020.csv',
 '05-22-2020.csv',
 '05-23-2020.csv',
 '05-24-2020.csv',
 '05-25-2020.csv',
 '05-26-2020.csv',
 '05-27-2020.csv',
 '05-28-2020.csv',
 '05-29-2020.csv',
 '05-30-2020.csv',
 '05-31-2020.csv',
 '06-01-2020.csv',
 '06-02-2020.csv',
 '06-03-2020.csv',
 '06-04-2020.csv',
 '06-05-2020.csv',
 '06-06-2020.csv',
 '06-07-2020.csv',
 '06-08-2020.csv',
 '06-09-2020.csv',
 '06-10-2020.csv',
 '06-11-2020.csv',
 '06-12-2020.csv',
 '06-13-2020.csv',
 '06-14-2020.csv',
 '06-15-2020.csv',
 '06-16-2020.csv',
 '06-17-2020.csv']

In [25]:
# 국가코드 사전데이터인 json데이터 미리 로드 해놓기
import json

with open(path+'country_convert.json', 'r') as json_file:
    json_data = json.load(json_file)

# 국가 이름 json파일에 있는 이름에 맞게 바꾸기
def convert_country_name(row):
    if row['Country_Region'] in json_data:
        row['Country_Region'] = json_data[row['Country_Region']]
    return row

# 원하는 데이터프레임 형태로 만드는 함수 정의
def create_df(filename):
    data = pd.read_csv(dir_path + filename, encoding='utf-8')
    try:
        data = data[['Country_Region', 'Confirmed']]
    except:
        data = data[['Country/Region', 'Confirmed']]
        data.columns = ['Country_Region', 'Confirmed']
    data = data.apply(convert_country_name, axis=1)
    data = data.dropna(subset=['Confirmed'])
    data = data.astype({'Confirmed':'int64'})
    data = data.groupby('Country_Region').sum()
    
    # Confirmed 칼럼명을 파일명의 날짜로 대체하기
    date_column =filename.split('.')[0].lstrip('0').replace('-','/')
    data.columns = [date_column]
    return data

## 여러 데이터 수집, 전처리해서, 하나의 데이터프레임 만들기

- 지금까지의 과정을 모두 한데 모아서, 함수로 만들기
- 필요한 파일 리스트만 추출하기
- 파일 리스트 정렬하기
- 데이터프레임 전처리하기 (별도 create_dateframe() 함수)
- 데이터프레임 합치기

In [27]:
import os 
def generate_dataframe(dir_path):
    file_list, csv_list = os.listdir(dir_path), list()
    first_doc = True
    for file in file_list:
        if file.split('.')[-1] == 'csv':
            csv_list.append(file)
        csv_list.sort()
    
    for filename in csv_list:
        doc = create_df(filename)
        if first_doc:
            final_doc, first_doc = doc, False
        else:
            final_doc = pd.merge(final_doc, doc, how='outer', left_index=True, right_index=True)
    final_doc = final_doc.fillna(0)
    final_doc = final_doc.astype('int64')
    return final_doc

In [29]:
final_data = generate_dataframe(dir_path)

In [30]:
final_data.to_csv('C:/Users/joyh1/Desktop/GitRepo/data/covid19_final_data.csv')